html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{line-height:1}
h1 {font-size: 1.5em;margin-bottom: 10px;}
p{font-size: 1em;line-height: 1.3em;margin-bottom: 10px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:0.5em;;padding:0}
input,select{vertical-align:middle}

#desktop {
	font-family: var(--sans-serif);
    position: fixed;
    height: 100%;
    width: 100%;
    background: #CCC;
	  overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	touch-action: manipulation;
}
.window {
    position: absolute;
    border: 2px solid #000;
    background: #EEE;
    border-radius: 5px;
    z-index: 1000;
    touch-action: manipulation;
}
.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 32px !important;
}
.fullSizeWindow .ui-resizable-handle {
	display: none;
}
.windowHeader {
    background-color: hsla(0,0%,20%,1.00);
    text-align: right;
    border-bottom: 2px solid #000;
    padding: 2px;
    cursor: move;
    height: 28px;
    color: hsla(0,0%,80%,1.00);
	touch-action: manipulation;
}
.activeWindow .windowHeader {
    background-color: #000000;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
	touch-action: manipulation;
}
.windowHeader > span {
    display: inline-block;
    cursor: pointer;
    border: 0px solid hsla(0,0%,20%,1.00);
    margin-left: 1px;
    font-size: 14px;
    padding: 2px 10px;
    font-family: var(--sans-serif);
    border-radius: 100px;
    line-height: 16px;
    width: 2px;
    height: 17px;
    position: relative;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 3px;
    text-indent: -3px;
    touch-action: manipulation;
    visibility: hidden;
}
.windowHeader > span:hover {
    /* [disabled]background-color: rgba(255,255,255,0.3); */
    border-color: hsla(0,0%,80%,1.00);
}
.windowHeader > span.winclose:hover {
    color: hsla(0,0%,80%,1.00);
}
.winminimize:hover > span {
    border-color: hsla(39,100%,63%,0.80);
}
.winmaximize:hover > span{
    border-color: hsla(143,100%,40%,0.80);
}
.activeWindow .windowHeader > span.winclose:hover {
    color: hsla(0,0%,100%,1.00);
}
.activeWindow .winminimize:hover > span {
    border-color: hsla(39,100%,63%,1.0);
}
.activeWindow .winmaximize:hover > span{
    border-color: hsla(143,100%,40%,1.0);
}
.windowHeader > span > span {
    display: inline-block;
    height: 5px;
    width: 8px;
    position: absolute;
    top: 6px;
    left: 5px;
    border-color: hsla(0,0%,80%,1.00);
}
.activeWindow .windowHeader > span > span {
    display: inline-block;
    height: 5px;
    width: 8px;
    position: absolute;
    top: 6px;
    left: 5px;
    border-color: hsla(0,0%,100%,1.00);
}
.winminimize > span {
    border-bottom: 3px solid hsla(0,0%,80%,1.00);
    /*) [disabled]left: auto;*/
    margin-left: 2px;
    width: auto;
    border-top-color: hsla(0,0%,80%,1.00);
    border-right-color: hsla(0,0%,80%,1.00);
    border-left-color: hsla(0,0%,80%,1.00);
    padding-top: 2px;
}
.winmaximize > span {
    border: 2px solid hsla(0,0%,80%,1.00);
    border-top: 3px solid #000;
}
.winmaximize > span:nth-child(2) {
    display: none;
}
.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 2px 0 0 -4px;
}
.fullSizeWindow .winmaximize > span:nth-child(2) {
    display: inline-block;
    top: 3px;
    left: 12px;
}
.wincontent {
    padding: 10px;
    min-width: 200px;
    min-height: 140px;
    border: 2px solid #000;
    margin: 2px;
	border-radius: 0 0 5px 5px;
}
.windowHeader > strong {
    font-family: var(--sans-serif-display);
    float: left;
    margin: 0px 3px 0 10px;
    line-height: 29px;
    font-size: 17px;
}
.taskbarPanel {
    line-height: 24px;
    font-size: 17px;
    background: #000000;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0px;
    margin-bottom: 0px;
    border-width: 0px;
    color: hsla(0,0%,100%,1.00);
    text-align: center;
}
.taskbarPanel.activeTab {
	background: #FFF;
}
.taskbarPanel.minimizedTab {
	background: #AAA;
}
.taskbarPanel.minimizedTab:hover {
	background: #DDD;
}
.taskbarPanel.closed {
	display: none;
}
#taskbar {
    position: fixed;
    height: 32px;
    border-top: 2px solid #000;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    width: 100%;
    text-align: left;
}
#icons {
	position: absolute;
	z-index: 10;
	top: 20px;
	left: 20px;
}
#icons a {
    display: block;
    cursor: pointer;
    padding: 2px 10px;
}
#icons a:hover {
	background: #000;
	color: #FFF;
}

/*Initial Window States*/
#window2 {
    top: 210px;
    left: 273px;
}
#window1 {
    top: 53px;
    left: 756px;
}
#window3 {
    top: 78px;
    left: 383px;
}
#window0 {
    top: 105px;
    left: 300px;
}
#window4 {
    top: 105px;
    left: 300px;
}
#window0 .wincontent {
    width: 250px;
    height: fit-content;
}
#window1 .wincontent {
    width: 250px;
    height: fit-content;
}
#window3 .wincontent {
    width: fit-content;
    height: fit-content;
}
#window2 .wincontent {
    /* overflow: scroll !important; */
    width: 450px;
    height: 300px;
}
#window4 .wincontent {
    width: 500px;
    height: 350px;
}
.note {
    overflow-y: scroll !important;
}
@media (any-pointer: coarse){
  .ui-resizable-handle {
    visibility: hidden;
  }
  html, body, #desktop {
    position: relative !important;
    display: flex !important;
    overflow-y: scroll !important;
    width: 100vw;
  }
  .desktop {
    display: flex !important;
    flex-grow: 1 !important;
    flex-direction: column-reverse !important;
    align-items: flex-end !important;
    height: fit-content !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    width: 100vw;
  }
  .window {
    display: flex !important;
    flex-direction: column !important;
    flex-grow: 1 !important;
    width: 100vw !important;
    height: fit-content !important;
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    border: 0px !important;
  }
  /* #window0 {
    top: 5px !important;
  }
  #window1 {
    top: 4px !important;
  }
  #window2 {
    top: 3px !important;
  }
  #window3 {
    top: 0px !important;
  }
  #window4 {
    top: 0px !important;
  } */
  .wincontent {
    display: flex !important;
    flex-direction: column !important;
    flex-grow: 1 !important;
    width: inherit !important;
    position: relative !important;
    width: calc(100vw - 28px) !important;
    height: fit-content !important;
    width: calc(100vw - 28px) !important;
  }
  /* #window0 .wincontent, #window1 .wincontent, #window2 .wincontent, #window3 .wincontent, #window4 .wincontent {
    width: 100% !important;
  }
  #window4 {	top: 0px; left: 0px; width: -webkit-fill-available; height: fit-content; position: fixed;	}
	#window3 {	top: 0px !important; left: 0px; width: -webkit-fill-available; height: fit-content; position: fixed;	}
	#window2 {	top: 467px !important; left: 0px; width: -webkit-fill-available; height: fit-content;	position: fixed;	}
	#window1 {	top: 815px !important; left: 0px; width: -webkit-fill-available; height: fit-content;	position: fixed;	}
  #window0 {	top: 815px !important; left: 0px; width: -webkit-fill-available; height: fit-content;	position: fixed;	}
  #desktop {	overflow: scroll !important;	}
	#window2 .wincontent {	width: -webkit-fill-available; height: fit-content;	}
	#window1 .wincontent {	width: -webkit-fill-available; height: fit-content;	}
	#window0 .wincontent {	width: -webkit-fill-available; height: fit-content;	}
	.window {	position: relative;	} */
  .wincontent img {
    position: relative !important;
    /* float: center !important; */
    width: calc(100vw - 28px) !important;
  }
  .note .sig {
    padding: 0px !important;
  }
}
/* @media (any-pointer: coarse) {
	#window2 {	top: 0px; left: 0px; width: -webkit-fill-available; height: fit-content; position: absolute;	}
	#window0 {	top: 467px; left: 0px; width: -webkit-fill-available; height: fit-content;	position: absolute;	}
	#window1 {	top: 815px; left: 0px; width: -webkit-fill-available; height: fit-content;	position: absolute;	}
	#desktop {	overflow: scroll;	}
	#window2 .wincontent {	width: -webkit-fill-available; height: fit-content;	}
} */

ul {
  margin-left: 0.5em;
  line-height: 1.5em;
}

a {
  font-weight: 450;
  color: black;
  text-decoration: underline;
  text-decoration-color: blue;
  padding-left: 0.15em;
  padding-right: 0.15em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
}
a:hover {
  background-color: black;
  font-weight: 450;
  color: white;
  text-decoration: none;
  padding-left: 0.15em;
  padding-right: 0.15em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
  position: relative;
}
.flipflops {
  font-weight: 900;
  font-size: inherit;
  color: var(--black);
  margin: 0px 0px 0px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--blue);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: calc(1rem / 3);
  font-style: italic;
  font-family: var(--font-family-serif);
}
