@font-face {
    font-family: 'Highway Gothic Wide';
    src: url('HighwayGothicWide.eot');
    src: url('HighwayGothicWide.eot?#iefix') format('embedded-opentype'),
        url('HighwayGothicWide.woff2') format('woff2'),
        url('HighwayGothicWide.woff') format('woff'),
        url('HighwayGothicWide.ttf') format('truetype'),
        url('HighwayGothicWide.svg#HighwayGothicWide') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Highway Gothic';
    src: url('HighwayGothic.eot');
    src: url('HighwayGothic.eot?#iefix') format('embedded-opentype'),
        url('HighwayGothic.woff2') format('woff2'),
        url('HighwayGothic.woff') format('woff'),
        url('HighwayGothic.ttf') format('truetype'),
        url('HighwayGothic.svg#HighwayGothic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

