/*    ┏━━━━━━━━━━━━━━━━━━┓     */
/*    ┃     Sentinel     ┃     */
/*    ┗━━━━━━━━━━━━━━━━━━┛     */

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-Light.otf") format("opentype");
  font-display: auto;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-LightItalic.otf") format("opentype");
  font-display: auto;
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-Book.otf") format("opentype");
  font-display: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-BookItalic.otf") format("opentype");
  font-display: auto;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-Medium.otf") format("opentype");
  font-display: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-MediumItalic.otf") format("opentype");
  font-display: auto;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-Semibold.otf") format("opentype");
  font-display: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-SemiboldItalic.otf") format("opentype");
  font-display: auto;
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-Bold.otf") format("opentype");
  font-display: auto;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-BoldItalic.otf") format("opentype");
  font-display: auto;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-Black.otf") format("opentype");
  font-display: auto;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Sentinel";
  src: url("Sentinel-BlackItalic.otf") format("opentype");
  font-display: auto;
  font-weight: 800;
  font-style: italic;
}
